<footer class="footer">
    <hr class="mt-4 mb-3 border-light">
    <div class="text-center">
        <small>&copy; 2024 Dumb Task Manager. All rights reserved.</small>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>